:root {
  font-family: "Rosario", sans-serif;
  font-size: 10px;
  --grey-bg: #e5e5e5;
  --black: #000000;
  --whyte-font: #fffcfc;
  --orange: rgba(163, 83, 10, 0.7);
  --card-title: #fffafa;
  --color-text__form: rgba(0, 0, 0, 0.5);
}

body {
  max-width: 1920px;
  min-width: 960px;
  margin: 0 auto;
  padding: 0;
}

div,
p,
h3,
ul,
li,
img,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--whyte-font);
}

ul {
  list-style: none;
}

.gallery,
.services,
.team,
.cotacts {
  min-height: 100vh;
}

/*header start*/

header {
  position: sticky;
  top: 0;
  z-index: 3;
  overflow: hidden;
}

.header {
  width: 100%;
  height: 14.5vh;
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding-right: 16px;
  padding-left: 0;
  font-weight: 700;
  font-style: italic;
  font-size: 3.6rem;
}

.nav__item a {
  display: inline-block;
  padding: 20px;
}

/*header end*/

/*gallery start*/

.gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 71px 45px 64px;
}

.left__top,
.left__down {
  position: relative;
  animation: appearance__left;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes appearance__left {
  0% {
    opacity: 0;
    transform: translateX(-100%) translateY(0);
  }
  100% {
    opacity: 1;
  }
}

.right__top,
.right__down {
  position: relative;
  animation: appearance__right;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes appearance__right {
  0% {
    opacity: 0;
    transform: translateX(100%) translateY(0);
  }
  100% {
    opacity: 1;
  }
}

.page__left {
  position: relative;
  animation: appearance__page__left;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-timing-function: linear;
}

@keyframes appearance__page__left {
  0% {
    opacity: 0;
    transform: translateX(-100%) translateY(0);
  }
  100% {
    opacity: 1;
  }
}

.page__right {
  position: relative;
  animation: appearance__page__right;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-timing-function: linear;
}

@keyframes appearance__page__right {
  0% {
    opacity: 0;
    transform: translateX(100%) translateY(0);
  }
  100% {
    opacity: 1;
  }
}

.page__left {
  margin-right: 72px;
}

.page__right {
  margin-left: 72px;
}

.page__center-left {
  margin-right: 23px;
}

.left__top,
.right__top {
  margin-bottom: 42px;
}

/*gallery end*/

/*services start*/

.services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 105px;
}

.services__left {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.services__title {
  display: inline-block;
  font-weight: 700;
  font-style: italic;
  font-size: 4.8rem;
  width: 380px;
  text-align: center;
  margin-top: 25px;
}

.posithion__left,
.posithion__right {
  width: 50%;
}

.services__left-top,
.services__left-down,
.services__right-top,
.services__right-down {
  width: 25%;
  box-sizing: border-box;
}

.services__left-top,
.services__right-top {
  margin-bottom: 35px;
}

.services__left-top {
  position: relative;
  animation: move-circle_1 7s ease-in-out infinite;
}

@keyframes move-circle_1 {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(400%);
  }
  50% {
    transform: translateX(400%) translateY(110%);
  }
  75% {
    transform: translateX(0) translateY(110%);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

.services__right-top {
  position: relative;
  animation: move-circle_2 7s ease-in-out infinite;
}

@keyframes move-circle_2 {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateY(110%);
  }
  50% {
    transform: translateX(-400%) translateY(110%);
  }
  75% {
    transform: translateX(-400%) translateY(0%);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

.services__right-down {
  position: relative;
  animation: move-circle_3 7s ease-in-out infinite;
}

@keyframes move-circle_3 {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(-400%) translateY(0);
  }
  50% {
    transform: translateX(-400%) translateY(-110%);
  }
  75% {
    transform: translateX(0) translateY(-110%);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

.services__left-down {
  position: relative;
  animation: move-circle_4 7s ease-in-out infinite;
}

@keyframes move-circle_4 {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(0) translateY(-110%);
  }
  50% {
    transform: translateX(400%) translateY(-110%);
  }
  75% {
    transform: translateX(400%) translateY(0);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

/*services end*/

/*team start*/

.team__title {
  font-weight: 700;
  font-size: 9.6rem;
  line-height: 116.35px;
  text-align: center;
}

.card__container {
  display: flex;
  justify-content: space-between;
  padding: 0 66px 33px;
  overflow: hidden;
}

.card {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 25px;
  align-items: center;
  transition: all 0.2s ease;
  
}

.card__container:hover > .card {
  filter: brightness(60%);
}

.card__container .card:hover {
  filter: none;
}

.img__card {
  width: 100%;
  height: 100%;
}

.card__title {
  width: 100%;
  display: none;
  padding: 40px 0;
  position: absolute;
  text-align: center;
  font-family: "Volkhov", serif;
  font-weight: 400;
  font-size: 4.8rem;
  box-sizing: border-box;
  color: var(--card-title);
  background-color: var(--orange);
  z-index: 1;
  border-radius: 0 0 35px 35px;
  bottom: -40px;
}

.card:hover .card__title {
  animation: card 600ms linear forwards;
  display: block;
}

@keyframes card {
  0% {
    transform: translateY (0);
  }
  100% {
    transform: translateX (-30px);
  }
}

/*team end*/

/*contacts start*/

/*page__container start*/

.contacts {
  padding: 50px 162px 29px;
}

.page__container {
  display: flex;
  justify-content: space-between;
}

.page__contact-left {
  margin-right: 34px;
}

.contacts__title {
  font-weight: 700;
  font-style: italic;
  font-size: 6.4rem;
  line-height: 77px;
  color: #000000;
  text-align: center;
  margin-bottom: 17px;
}

.form {
  width: 936px;
  height: 400px;
  background-color: var(--grey-bg);
}

.form__input {
  display: inline-block;
  margin-top: 35px;
  margin-left: 27px;
}

input {
  font-weight: 700;
  font-size: 3.6rem;
  color: var(--color-text__form);
  border: 1px solid white;
}

input[type="text"] {
  width: 377px;
  height: 80px;
  margin-right: 31px;
}

input[type="email"] {
  width: 452px;
  height: 80px;
}

textarea {
  width: 885px;
  height: 209px;
  margin-top: 43px;
  margin-left: 27px;
  font-weight: 700;
  font-size: 3.6rem;
  color: var(--color-text__form);
  border: 1px solid white;
}

iframe {
  width: 626px;
  height: 570px;
}

/*page__container end*/

/*footer start*/

.footer {
  display: flex;
  justify-content: space-around;
  margin-top: 95px;
  margin-bottom: 29px;
}

.wrapper__contact,
.wrapper__schedule,
.wrapper__connect {
  width: 30%;
  height: 187px;
  text-align: center;
}

.wrapper__contact {
  padding-top: 5px;
}

.wrapper__contact a {
  color: var(--black);
  font-weight: 700;
  font-size: 2.9rem;
  font-style: italic;
  line-height: 36px;
}

.wrapper__contact p {
  font-weight: 700;
  font-size: 2.9rem;
  font-style: italic;
  line-height: 36px;
}

.normal {
  font-weight: 600;
}

.wrapper__schedule__title {
  font-weight: 700;
  font-style: italic;
  font-size: 3.6rem;
  line-height: 43px;
  padding-top: 10px;
}

.schedule {
  font-weight: 600;
  font-style: italic;
  font-size: 3rem;
  line-height: 36px;
}

.wrapper__connect__title {
  font-weight: 700;
  font-style: italic;
  font-size: 3rem;
  line-height: 36px;
  margin-top: 17px;
}

ul {
  text-align: start;
  padding-left: 33%;
}

.instagram a,
.facebook a,
.twitter a {
  font-weight: 600;
  font-size: 3rem;
  font-style: italic;
  line-height: 36px;
  color: var(--black);
}

.instagram a::before {
  content: url(../img/contact/icons8-instagram.svg);
  width: 10px;
  margin-right: 15px;
}

.facebook a::before {
  content: url(../img/contact/icons8-facebook.svg);
  margin-right: 15px;
}

.twitter a::before {
  content: url(../img/contact/icons8-твиттер.svg);
  margin-right: 15px;
}
